footer {
  margin-top: 100px;

  .footer-title {
    margin-bottom: 23px;

    @extend %title-footer;

  }

  #footer-about-us {

    #navbar-footer {

      ul li {

        a {
          padding: 5px 0;
          color: $main-color;
          font-size: 1.5rem;
        }

        &:hover {

          a {
            color: $sub-color;
          }
        }
      }
    }
  }

  #footer-contact-us {

    span {
      color: $main-color;
      line-height: 34px;
      font-size: 1.5rem;
    }
  }


  @include media-breakpoint-down(md) {

    #footer-about-us {
      text-align: center;
    }

    #footer-contact-us {
      text-align: center;
    }

    #footer-social {

      #navbar-footer {
        margin: 0 auto;
      }

      .powered {
        padding: 10px;
        margin: 0 auto;
      }
    }
  }

  #footer-social, #footer-social > div {
    height: 100%;

    li:last-child {

      a {
        padding-right: 0px;
      }
    }

    .powered {

      span {
        margin-right: 10px;
        font-size: 1.5rem;
        color: $main-color;
      }

      img {
        background: $main-color;
        width: 60px;
      }
    }

    .nav-link {

      .dashicons {
        font-size: 2.5rem;
        color: $main-color;
        transition: 0.5s;
      }

      &:hover .dashicons {
        color: $sub-color;
      }
    }
  }
}