header {
  background: white;

  .navbar-brand {
    display: inline;
  }

  .logo {
    background-color: $main-color;
    width: 150px;
    padding: 10px;
    margin: 10px 25px;

    a {
      margin: 0 auto;

      img {
        width: 100%;
      }
    }
  }

  .navbar-toggler {
    border: solid 1px $main-color;
    padding: 10px 15px;

    span {
      color: $main-color;
    }
  }

  #navbar-header {

    .nav-link {
      padding: 10px 20px;

      span {
        text-transform: uppercase;
        color: $main-color;
        font-weight: 500;
        font-size: 1.7rem;
        transition: 0.5s;

        &:hover {
          color: $sub-color;
          border-style: solid;
          border-color: $sub-color;
          border-width: 0 0px 2px;
          padding-bottom: 15px;
        }
      }
    }
  }
}