.shape {
  position: absolute;
  z-index: 1;

  .top-left {
    width: 100px;
    height: 100px;
    border-top-left-radius: 110px;
    border: 45px solid;
    border-bottom: 0;
    border-right: 0px;
    border-color: #ffffff;
  }
  .top-right {
    width: 100px;
    height: 100px;
    border-top-right-radius: 110px;
    border: 45px solid;
    border-bottom: 0;
    border-left: 0px;
    border-color: #ffffff;
  }
  .bottom-left {
    width: 100px;
    height: 100px;
    border-bottom-left-radius: 110px;
    border: 45px solid;
    border-top: 0;
    border-right: 0px;
    border-color: #ffffff;
  }
  .bottom-right {
    width: 100px;
    height: 100px;
    border-bottom-right-radius: 110px;
    border: 45px solid;
    border-top: 0;
    border-left: 0px;
    border-color: #ffffff;
  }

  @include media-breakpoint-down(md) {

    display: none;
  }
}