#banner {
  position: relative;

  #banner-carousel {

    .carousel-indicators {

      li {
        @include dots(20, $comp-color);
      }
    }
  }

  .shape-one {

    .shape-pos0 {
      bottom: 10%;
      left: 20%;
      transition: 0.5s;

      div {
        opacity: 0.7;
      }
    }

    .shape-pos1 {
      bottom: 10%;
      left: 30%;
      transition: 0.5s;

      div {
        border-color: red;
        opacity: 0.7;
      }
    }

    .shape-pos2 {
      bottom: 10%;
      left: 30%;
      transition: 0.5s;

      div {
        opacity: 0.7;
      }
    }
  }


  .shape-two {

    .shape-pos0 {
      top: 10%;
      right: 20%;
      transition: 0.5s;

      div {
        opacity: 0.7;
      }
    }

    .shape-pos1 {
      top: 15%;
      right: -10%;
      transition: 0.5s;

      div {
        border-color: red;
        opacity: 0.7;
      }
    }

    .shape-pos2 {
      top: 70%;
      right: 30%;
      transition: 0.5s;

      div {
        opacity: 0.7;
      }
    }
  }
}