#brands {

  .carousel-control-prev, .carousel-control-next {

    .carousel-control-icon {

      .dashicons {
        margin-top: 160px;

        @include media-breakpoint-down(md) {

          font-size: 2.5rem;
        }
      }
    }
  }

  #brands-carousel {
    margin-bottom: 30px;

    .carousel-indicators {
      bottom: -50px;

      li {
        @include dots(10, $main-color);
      }
    }

    .card {
      margin: 20px auto;
      border: none;

      @include media-breakpoint-up(xl) {

        min-width: 135px;
      }
      @include media-breakpoint-up(lg) {

        min-width: 110px;
      }
      @include media-breakpoint-up(md) {

        min-width: 80px;
      }
      @include media-breakpoint-up(sm) {

        min-width: 55px;
      }

      .card-image {
        filter: grayscale(100%);
        transition: 0.5s;

        &:hover {
          filter: grayscale(0%);
        }
      }
    }
  }
}