#latest-news {

  .carousel-control-prev, .carousel-control-next {

    .carousel-control-icon {

      .dashicons {
        margin-top: 220px;

        @include media-breakpoint-down(md) {

          font-size: 3.0rem;
          margin-top: 400px;
        }
      }
    }
  }

  #latest-news-carousel {
    margin-top: 65px;

    a {
      color: inherit;
      text-decoration: inherit;

      &:hover {
        box-shadow: 8px 12px 10px #e0e0e0;
      }

      .card {
        border: none;
        border-bottom: 1px solid $main-color;
        border-radius: 0;
        height: 100%;

        @include media-breakpoint-down(md) {

          margin-bottom: 15px;
        }

        .card-image {
          position: relative;

          .card-img-overlay {
            opacity: 0;
            transition: 0.5s;

            .card-text {
              font-size: 1.4rem;
              text-align: center;
            }
          }

          &:hover {

            .card-img-overlay {
              color: $comp-color;
              background-color: $main-color;
              opacity: 0.9;
            }
          }
        }

        .card-body {
          padding: 10px 0;

          .card-text {
            @extend %title-card
          }

          .card-date {
            @extend %date;
          }
        }
      }
    }
  }
}