html {
  font-size: 62.5%;
}

html:not([data-scroll='0']) {

  header {
    box-shadow: 0px 1px 10px #e0e0e0;
  }
}

section {
  padding: 15px 0;
}

article {
  height: 100%;
}

.title {
  @extend %title;
}

.content-text {
  @extend %content;
}

.content-quote {
  @extend %quote;
}

.content-date {
  @extend %date;
}

.readme-btn {
  @extend %readmore-btn;
}

.carousel-control-prev, .carousel-control-next {
  width: 100%;

  .carousel-control-icon {
    width: 100%;
    height: 100%;

    .dashicons {
      color: $main-color;
      font-size: 6.0rem;
      width: 100%;
      height: 60px;
      cursor: pointer;
    }
  }
}