%text {
  text-align: justify;
}

%content {
  font-family: Alatsi, sans-serif;
  font-size: 1.5rem;
  letter-spacing: 1px;
  margin: 0 auto 10px;
  line-height: 30px;

  @extend %text;
}

%quote {
  font-family: Alatsi, sans-serif;
  color: $main-color;
  letter-spacing: 1px;
  margin: 0 auto 10px;
  font-weight: 700;
  font-size: 2.0rem;
  line-height: 50px;


  @include media-breakpoint-up(md) {

    font-size: 3.0rem;
    line-height: 60px;
  }
  @include media-breakpoint-up(lg) {

    font-size: 3.5rem;
  }

  @extend %text;
}

%date {
  font-family: Alatsi, sans-serif;
  font-size: 1.4rem;
  color: $main-color;
  letter-spacing: 1px;
  line-height: 30px;
}

%title {
  font-family: 'Jomolhari', serif;
  text-align: center;
  margin: 0 auto;

  @extend %text;

  h1 {
    color: $main-color;
    margin: 10px 0 20px 0;
    font-size: 4.5rem;
  }

  h2 {
    color: $main-color;
    margin: 10px 0 20px 0;
    font-size: 3.5rem;
  }
}

%title-footer {
  font-family: Alatsi, sans-serif;
  color: $main-color;

  h3 {
    font-weight: 700;
    font-size: 2.5rem;
  }
}

%title-card {
  font-family: Alatsi, sans-serif;
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 10px;
}

%readmore-btn {
  text-transform: uppercase;
  display: block;
  width: 175px;
  margin: 25px auto;
  text-align: center;
  padding: 5px 10px;
  color: $main-color;
  border: solid 1px $main-color;
  font-size: 1.5rem;
  transition: 0.5s;

  &:hover {
    text-decoration: none;
    background: $main-color;
    color: $comp-color;
  }
}